<div class="flex-column marg-5px light-font">
  <h2 class="light-font marg-5px"> Primary Skill Set</h2>
  <ul class="extra-light-font">
    <li>
      Programming languages :
      <ul class="marg-5px">
        <li class="marg-top-5">Java ( reluctantly married to )</li>
        <li class="marg-top-5">JavaScript / TypeScript</li>
        <li class="marg-top-5">golang - started a very recent on again, off again fling with this one. <strong>"Stupidly simple"</strong> will be the way to define this language in one go ( see what I did there ? ).</li>
        <li class="marg-top-5">C# - May be my first true love in programming. I used to love this language, and test out anything that I learned, using this.
          But ever since I had to start using Java daily as part of the job, I have been neglecting this one for around half a decade, not willingly - there simply isn't time. Need to brush the skills. Wondering what monstrosity Microsoft has managed to morph this into?</li>
        <li>C/C++ - Academic level understanding. Occasionally catches glimpses of the glory from watching <a href="https://www.youtube.com/@TsodingDaily" target="_blank">Tsoding</a> VODs on youtube.</li>
      </ul>
    </li>
    <li>
      Frameworks :
      <ul class="marg-5px">
        <li class="marg-top-5">Spring Framework / Spring Boot ( Spring Web, Spring Batch, Spring Security, Spring Quartz, Spring AMQP etc)</li>
        <li class="marg-top-5">Angular 2+</li>
        <li class="marg-top-5">Node.js with Nest.js</li>
        <li class="marg-top-5">ASP.NET Core</li>
        <li class="marg-top-5">Gin</li>
      </ul>
    </li>
    <li>
      Databases :
      <ul class="marg-5px">
        <li class="marg-top-5">MySQL / MariaDB</li>
        <li class="marg-top-5">PostgreSQL</li>
        <li class="marg-top-5">SQLite</li>
        <li class="marg-top-5">Microsoft SQL Server</li>
        <li class="marg-top-5">Oracle 11g</li>
      </ul>
    </li>
  </ul>
  <h2 class="extra-light-font marg-5px">Come say hi over at</h2>
  <ul class="marg-10px">
    <li class="marg-5px"><a href="https://linkedin.com/in/arun-vishnu-k" target="_blank">LinkedIn</a></li>
    <li class="marg-5px">Or drop an <a href="mailto:arunvishnuk008@gmail.com">email</a></li>
  </ul>
  <h3 class="light-font primary-underlined marg-5px">Random lore dump</h3>
  <details class="details-box marg-10px extra-light-font primary-color-border padding-5px">
    <summary>
      Etymology of the name
    </summary>
    <article>
      <h2 class="extra-light-font">
        <ruby>Arun<rp>(</rp><rt>noun</rt><rp>)</rp></ruby>
        <ruby> Vishnu<rp>(</rp><rt>noun</rt><rp>)</rp></ruby>
      </h2>
      <p>
        Both the nouns <span class="complementary-accent-color">Arun</span> and <span class="complementary-accent-color">Vishnu</span> have their origins rooted in ancient Hindu mythology.
        <i>Aruna devan</i> is usually a reference to the <i>Sarathi</i> (charioteer) of <i>Surya devan</i>, the Sun-Deity. It is said that Aruna devan spreads light with a reddish hue, just before the actual sunrise - known as <i>Arunodayam.</i>
      </p>

      <p>
        For the second noun, as the name suggests, <strong class="complementary-accent-color">Vishnu</strong> refers to the <strong>God Vishnu</strong> of the Holy Trinity, responsible for existence of reality.
        <br/>
        It is also my Father's name.
      </p>

      <p>Coming back to the first noun, <i>Aruna varnam</i> literally means the <strong>colour Red</strong> in <i><strong>Sanskrit</strong></i> and its derivatives.
        I usually think of this interpretation of the name, rather than the mythical - because that involves deities and I am not one, obviously :)</p>
      <p>I prefer the <span class="accent-color">The Crimson shade</span> of Red, specifically.</p>

    </article>
  </details>
</div>
