:root {
  --primary-color : #181818;
  --primary-accent-color: #ed4062;
  /*--primary-accent-color: #dc143c;*/
  --secondary-accent-color: #ff6065;
  --complementary-accent-color: #008B8B;
  --primary-bg-color: #f5eded;
  --secondary-bg-color: #eeedee;
  --greenish-cyan : #00adb5;
  --primary-font-size: 1.3rem;
  --small-font-size: 0.4rem;
  --medium-font-size: 1rem;
}
