<div class="flex-column">
  <div class="flex-row content-center">
    <h1 class="extra-light-font">Fortress of Solitude</h1>
  </div>

  <div id="content-body" class="flex-column">
    <div>
      <div class="fortress-actions content-center">
        <div class="fortress-action-item">
          <h1 class="light-font">
            <a href="#" class="faux-link" [routerLink]="'/hot-take'">
              New Hot Take
            </a>
          </h1>
        </div>
        <div class="fortress-action-item">
          <h1 class="light-font">
            <a href="#" class="faux-link" [routerLink]="'/blog-post'">
              New Post
            </a>
          </h1>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>
