<div class="flex-column marg-5px">
  <a [routerLink]="'/fortress'"><-- Back to Fortress</a>
  <div class="flex-row">
    <h1 class="light-font">Post a new Hot-Take</h1>
  </div>
  <div id="hot-take-editor" class="flex-column">
    <form class="form padding-5px" [formGroup]="hotTakeForm" (ngSubmit)="postHotTake($event)">
      <div class="input-group marg-5px">
        <label for="hot-take-title" class="marg-5px">Title</label>
        <input type="text" id="hot-take-title" [formControl]="title">
      </div>
      <div class="input-group marg-5px">
        <label for="hot-take-expansion" class="marg-5px">Provide a little detail if needed</label>
        <textarea [formControl]="details">
        </textarea>
      </div>
      <div class="content-center marg-5px">
        <input [disabled]="submitting" type="submit" value="Post" class="min-width-100-px medium-font">
      </div>
    </form>
  </div>
</div>
