@if (post) {
  <div class="marg-5px flex-column">
    <div class="scroll-container">
      <div class="marg-10px">
        <div class="flex-row items-center">
          <h1 class="light-font no-padding">
            {{ post.title }}
          </h1>
        </div>
        @if (post.tagline.length > 0) {
          <div class="flex-row items-center">
            <h2 class="marg-top-5 extra-light-font">
              {{ post.tagline }}
            </h2>
          </div>
        }
        @if (post.tags) {
          <div class="blog-post-row-container items-center">
            <p>Tags:</p>
            @for (tag of post.tags.split(","); track tag) {
              <span class="tag marg-5px">
              <span class="marg-5px text-center flex-row items-center small-font">{{ tag }}</span>
            </span>
            }
          </div>
        }
        @if (post.created_at === post.updated_at) {
          <h5 class="extra-light-font">Originally Posted at : {{ post.created_at }}</h5>
        } @else {
          <h5 class="extra-light-font">Updated at : {{ post.updated_at }}</h5>
        }
      </div>
      <article class="marg-10px accomplishment secondary-bg padding-5px">
        <div style="overflow-wrap: break-word; line-height: 1.5" [innerHTML]="post.content"></div>
      </article>
    </div>
  </div>
} @else {
  <div class="flex-column marg-5px">
    <p>Nothing here :(. Come back again later!</p>
  </div>
}
