<div class="flex-column marg-5px light-font">
  <details class="padding-5px">
    <summary>Employment History</summary>
    <div class="flex-column no-margin-no-padding">
      <p class="no-padding marg-top-10">Total YOE : <span class="complementary-accent-color">( 6.5 and counting )</span>
      </p>
      <p class="marg-top-5">I have been employed by 3 different firms till now. </p>
      <p class="marg-top-5 marg-bottom-5">Click on each position to expand the detailed description containing
        roles,
        responsibilities and tech stack.</p>
    </div>
    <ul class="timeline-stem">
      <li>
        <ul class="timeline-stem">
          <h2><a href="https://epam.com" target="_blank">EPAM Systems</a> <small class="secondary-accent-color"> (Feb
            2024
            -
            <span class="complementary-accent-color">Present</span>) </small></h2>
          <p>Under EPAM, I get assigned to different customer projects after clearing interviews. This is the history as
            of
            now.</p>
          <section>
            <ul class="timeline-stem">
              <li>
                <span class="complementary-accent-color">Present</span>
                <details class="details-box marg-5px">
                  <summary class="accent-color">Key Developer &#64; Cotality Inc., (Previously CoreLogic). Domain ::
                    Insurance / Banking
                  </summary>
                  <article>
                    <p>As a member of the <i>RiPT (Risk identification product tier)</i> team at Cotality, I work on the
                      Mortgage analytics products and backend services,
                      primarily on the loan lending analytics platform.
                    </p>
                    <blockquote class="secondary-bg accomplishment">
                      <p><span class="complementary-accent-color">Major accomplishments :- Shipped the new Action Score feature to production,</span>
                        which helps customers to calculate risk factor in loan lending dynamically based on the results
                        of
                        a
                        predefined set of business ruleset execution.
                        Tasks involved multiple iterations of report UI generation with a bar chart indicating the
                        polarity
                        of the result, and several iterations of the backend APIs and async batch process involved in
                        score
                        calculation.
                      </p>
                    </blockquote>
                    <p class="secondary-accent-color no-padding">
                      Tech stack
                    </p>
                    <ul>
                      <li>
                        <span class="accent-color">Back-end</span>
                        <ul>
                          <li>Java 7/8/11/17/23</li>
                          <li>Spring Framework / Spring Boot ( 3.x, 2.x and 1.x )</li>
                          <li>Apache Drools</li>
                          <li>jUnit 4/5, Mockito, Spring Test, Spring Integration Tests</li>
                          <li>JSP & Apache Struts</li>
                          <li>Thymeleaf</li>
                          <li>PostgreSQL, MySQL, Microsoft SQL Server, Oracle 11g</li>
                          <li>Docker, GCP Kubernetes Engine ( GKE ), GCP Cloud foundry ( Kf ), Jenkins</li>
                        </ul>
                      </li>
                      <li class="marg-top-5">
                        <span class="accent-color">Front-end</span>
                        <ul>
                          <li>Javascript</li>
                          <li>Angular.js 1x( It's old :(, I know ), Karma</li>
                          <li>HTML / SASS / CSS</li>
                        </ul>
                      </li>
                    </ul>
                  </article>
                </details>
              </li>
            </ul>
            <span class="secondary-accent-color">Jan 2025</span>
          </section>
          <section class="marg-top-10">
            <ul class="timeline-stem">
              <li>
                <span class="secondary-accent-color">Dec 2024</span>
                <details class="details-box marg-5px">
                  <summary class="accent-color">Developer &#64; Thomson Reuters. Domain :: Legal / Paralegal</summary>
                  <article>
                    <p>During my time with the TR India account, I worked as a member of the <i>Task</i> team that
                      manages
                      the Task & Event modules of <strong>HighQ</strong>, a collaboration / legal matter processing tool
                      built for legal and paralegal teams. Used by customers around the globe.
                    </p>
                    <blockquote class="secondary-bg accomplishment">
                      <p><span class="complementary-accent-color">Major accomplishments :- Instrumental in shipping the long awaited <strong>Task Sequencing</strong> feature which introduced the ability to sequentially assign and manage tasks and subtasks under a task list in the HighQ application.</span>
                        As part of this effort, also played a key role in modernization of some parts of the task
                        module,
                        converting from server-side rendered stack ( Spring + JSP + Jasper ) to a server-client hybrid
                        model
                        that integrates Angular 15 based micro front-ends into the configuration module of HighQ app
                        that
                        still runs on the server-side rendered stack.
                      </p>
                    </blockquote>
                    <p class="secondary-accent-color no-padding">
                      Tech stack
                    </p>
                    <ul>
                      <li>
                        <span class="accent-color">Back-end</span>
                        <ul>
                          <li>Java 17</li>
                          <li>Spring Framework / Spring Boot (3.x)</li>
                          <li>jUnit 4/5, Mockito, Spring Test, Spring Integration Tests, Selenium, Selenium WebDriver,
                            TestNG
                          </li>
                          <li>JSP & Jasper</li>
                          <li>Microsoft SQL Server</li>
                          <li>Jenkins</li>
                        </ul>
                      </li>
                      <li class="marg-top-5">
                        <span class="accent-color">Front-end</span>
                        <ul>
                          <li>Typescript, Javascript</li>
                          <li>Angular 15, jQuery</li>
                          <li>HTML / SCSS / CSS</li>
                          <li>ARIA / a11y / i18n compliance</li>
                        </ul>
                      </li>
                    </ul>
                  </article>
                </details>
              </li>
            </ul>
            <span class="secondary-accent-color">Feb 2024</span>
          </section>
        </ul>
      </li>
      <li>
        <h2><a href="https://datawudi.com" target="_blank">Stealth Startup</a> <small class="secondary-accent-color">
          (Sept
          2023
          - Jan 2024) </small></h2>
        <section class="marg-top-10">
          <ul class="timeline-stem">
            <li>
              <p>Under the supervision of my <a href="https://sajeerzeji.com" target="_blank">cool mentor</a> from the
                previous company, worked on bootstrapping the API Platform for a retail / wholesale PO and inventory
                management product.
              </p>
              <details class="details-box marg-5px">
                <summary class="accent-color">Consultant Software Engineer. Domain :: Retail / Wholesale Inventory
                </summary>
                <article>
                  <p>
                    Built APIs across 3 microservices for <i>Stealth product,</i> an application that can be used to
                    create,
                    update
                    and send
                    purchase orders and goods receipts.
                    Included functionality : Catalog / master data management, comprehensive audit trail and an Expense
                    module
                    that handles expense claims of warehouse employees.
                  </p>
                  <blockquote class="secondary-bg accomplishment">
                    <p><span
                      class="complementary-accent-color">Major accomplishments :- Integrating this app with <strong><a
                      class="faux-link" href="https://docuware.com" target="_blank">DocuWare,</a></strong> a document based workflow management tool that was used by the customer to facilitate multi-level purchase order approvals.</span>
                      Implemented webhook based communications with DocuWare system.
                      Designed and developed the Jasper templates for generating Purchase order (pre and post approval
                      ),
                      Goods receipt
                      and expense receipt PDF documents, from scratch.
                      Integrated the API platform with OpenAPI implementation using proper schema and examples for
                      requests
                      and responses, thus making the API documentation and testing much easier.
                    </p>
                  </blockquote>
                  <p class="secondary-accent-color no-padding">
                    Tech stack
                  </p>
                  <ul>
                    <li>
                      <span class="accent-color">Back-end</span>
                      <ul>
                        <li>Java 23</li>
                        <li>Spring Framework / Spring Boot (3.x) / OpenAPI</li>
                        <li>jUnit 5, Mockito, Spring Test</li>
                        <li>PostgreSQL</li>
                        <li>Docker, Jenkins, AWS EC2, AWS S3</li>
                      </ul>
                    </li>
                  </ul>
                </article>
              </details>
            </li>
          </ul>
        </section>
      </li>
      <li>
        <ul class="timeline-stem">
          <h2><a href="https://retailcloud.com" target="_blank">retailcloud</a><small class="secondary-accent-color">
            (May
            2019 - Aug 2023) </small></h2>
          <p>I joined retailcloud right after my college graduation. Spent around 4 and a half years there hacking on
            retail
            POS, eCommerce, crm and related tools and platforms. Got to lead a good team and shipped several products
            that
            skyrocketed the company's growth, to production.</p>
          <section class="marg-top-10">
            <ul class="timeline-stem">
              <li>
                <span class="secondary-accent-color">Aug 2023</span>
                <section>
                  <details class="details-box marg-5px">
                    <summary class="accent-color">Associate Technical Architect. Domain :: Sports merchandising, Retail,
                      F&B,
                      Inventory, eCommerce, CRM
                    </summary>
                    <article>
                      <p>
                        To be completely honest, I still don't know what this title means, but I am grateful for it.
                        My tasks involved managing the backend platform team,
                        architecting various components of the platform and occasionally stepping in to implement
                        complex
                        modules.
                      </p>
                      <blockquote class="secondary-bg accomplishment">
                        <p><span class="complementary-accent-color">Major accomplishments : </span>I will use this space
                          to
                          give
                          shoutouts to two awesome developers I got to manage, and their quality work.</p>
                        <ul>
                          <li class="complementary-accent-color">Oversaw the integration of <strong>BigCommerce
                            platform</strong> with the <strong>retailcloud eCommerce engine</strong>, by <a
                            href="https://naslikv.github.io" target="_blank">this</a> amazing developer.
                          </li>
                          <li class="complementary-accent-color">Oversaw the integration of <strong>Avalara Tax
                            management
                            portal</strong> with <strong>retailcloud POS platform</strong>, by <a
                            href="https://prajithdeveloper.github.io/" target="_blank">this</a> great developer.
                          </li>
                        </ul>
                      </blockquote>
                      <p class="secondary-accent-color no-padding">
                        Tech stack
                      </p>
                      <ul>
                        <li>
                          <span class="accent-color">Back-end</span>
                          <ul>
                            <li>Java 8/11</li>
                            <li>Spring Framework / Spring Boot (2.x, 3.x), Spring Batch, Spring Quartz, JSP, Apache
                              Struts
                            </li>
                            <li>gRPC, RabbitMQ, JMS</li>
                            <li>MySQL, PostgreSQL</li>
                            <li>Jenkins, GCP - Compute Engine, App Engine, Google Cloud Storage / Bucket, Cloud Entity
                              Store
                            </li>
                          </ul>
                        </li>
                        <li class="marg-top-5">
                          <span class="accent-color">Front-end</span>
                          <ul>
                            <li>Typescript, Javascript</li>
                            <li>Angular 9/11/13, Ionic Angular, jQuery</li>
                            <li>HTML / SCSS / CSS</li>
                          </ul>
                        </li>
                      </ul>
                    </article>
                  </details>
                </section>
                <span class="secondary-accent-color">Sept 2022</span>
              </li>
            </ul>
          </section>
          <section class="marg-top-10">
            <ul class="timeline-stem">
              <li>
                <span class="secondary-accent-color">Aug 2022</span>
                <section class="marg-top-10">
                  <details class="details-box marg-5px">
                    <summary class="accent-color">Lead Software Engineer. Domain :: Sports merchandising, Retail, F&B,
                      Inventory, eCommerce, CRM
                    </summary>
                    <p>
                      As the <i>Lead Software Engineer</i> of the <i>Platform team</i>, my focus was on the backend
                      platform
                      team
                      deliverables.
                      Managed a team of 7 ( occasionally 8 or 9 ) members, consisting of Backend and Full-Stack
                      developers.
                    </p>
                    <blockquote class="secondary-bg accomplishment">
                      <p><span class="complementary-accent-color">Major accomplishments : </span>Shipped 3 major
                        products
                        to
                        production, which played an instrumental role in the growth of the company. </p>
                      <ul>
                        <li>
                          <p><span
                            class="complementary-accent-color"> The retailcloud eCommerce engine, known as <strong>retailcloud OmniChannel commerce</strong> </span>.
                            Consists of below integrations essentail for sports merchandising and stadium F&B vendors :
                          </p>
                          <ul>
                            <li><strong>Shopify</strong></li>
                            <li><strong>Ecwid</strong></li>
                            <li><strong>Clover</strong></li>
                          </ul>
                        </li>
                        <li>
                          <p><span
                            class="complementary-accent-color">The retailcloud <strong>loyalty and customer marketing module</strong></span>,
                            consisting of anonymous feedback forms, customer sign-up forms, sms and email based
                            marketing
                            campaign tools with below integrations : </p>
                          <ul>
                            <li><strong>Twilio</strong></li>
                            <li><strong>SendGrid</strong></li>
                            <li><strong>MailChimp</strong></li>
                          </ul>
                        </li>
                        <li>
                          <p><span class="complementary-accent-color"><strong>The retailcloud Tikt app</strong></span>,
                            a
                            solution that enables
                            in-seat ordering for restaurants and stadiums. Now known as retailcloud SuiteSpot.</p>
                          <p>Shoutout to <a href="https://manusankar.work/" target="_blank">this</a> very
                            creative UI/UX designer, who created the awesome prototypes.</p>
                        </li>
                      </ul>
                    </blockquote>
                    <p class="secondary-accent-color no-padding">
                      Tech stack
                    </p>
                    <ul>
                      <li>
                        <span class="accent-color">Back-end</span>
                        <ul>
                          <li>Java 8/11</li>
                          <li>Spring Framework / Spring Boot (2.x, 3.x), Spring Batch, Spring Quartz, JSP, Apache Struts
                          </li>
                          <li>gRPC, RabbitMQ, JMS</li>
                          <li>MySQL, PostgreSQL</li>
                          <li>Jenkins, GCP - Compute Engine, App Engine, Google Cloud Storage / Bucket, Cloud Entity
                            Store
                          </li>
                        </ul>
                      </li>
                      <li class="marg-top-5">
                        <span class="accent-color">Front-end</span>
                        <ul>
                          <li>Typescript, Javascript</li>
                          <li>Angular 9/11/13, Ionic Angular, jQuery</li>
                          <li>HTML / SCSS / CSS</li>
                        </ul>
                      </li>
                    </ul>
                  </details>
                </section>
                <span class="secondary-accent-color">Aug 2021</span>
              </li>
            </ul>
          </section>
          <section class="marg-top-10">
            <ul class="timeline-stem">
              <li>
                <span class="secondary-accent-color">July 2021</span>
                <section class="marg-top-10">
                  <details class="details-box marg-5px">
                    <summary class="accent-color">Software Engineer. Domain :: Retail, Inventory, eCommerce</summary>
                    <article>
                      <p>As a Software Engineer in the <i>Platform team</i>, I have built and deployed many APIs across
                        several
                        microservices that are necessary for the
                        <strong>retailcloud
                          Backoffice portal known as Console Portal</strong>.
                        Also the APIs required for mobile POS applications such as <strong>TabPOS</strong>,
                        <strong>mPOS</strong>, <strong>6IXPOS</strong>,
                        <strong>Servio</strong>, <strong>mInventory</strong> and <strong>nGuage</strong>.</p>
                      <blockquote class="secondary-bg accomplishment">
                        <p>
                          <span class="complementary-accent-color">Major accomplishments : </span>
                          Implemented a <strong>common <i>filtering</i>, <i>sorting</i> and <i>pagination</i>
                          mechanism</strong>
                          for backend platform search APIs,
                          which <strong>dynamically generates optimized native queries</strong> instead of using <i>JPQL/
                          HQL</i> etc.
                          This <strong class="complementary-accent-color">significantly boosted the raw fetch
                          performance
                          of
                          GET
                          APIs</strong>, and provided quality-of-life
                          improvements to all of our applications.
                          Also played a big part in developing and deploying the <strong>retailcloud Platform analytics
                          APIs</strong>, which
                          provides calculated data-points for display using the charts, diagrams and various graphical
                          representations present in the <strong>retailcloud Console portal</strong>.
                        </p>
                      </blockquote>
                    </article>
                    <p class="secondary-accent-color no-padding">
                      Tech stack
                    </p>
                    <ul>
                      <li>
                        <span class="accent-color">Back-end</span>
                        <ul>
                          <li>Java 7/8</li>
                          <li>Spring Framework / Spring Boot (2.x, 3.x), Spring Batch, JSP, Apache Struts</li>
                          <li>gRPC, JMS</li>
                          <li>MySQL</li>
                          <li>Jenkins, GCP - Compute Engine, Google Cloud Storage / Bucket, Cloud Entity Store</li>
                        </ul>
                      </li>
                      <li class="marg-top-5">
                        <span class="accent-color">Front-end</span>
                        <ul>
                          <li>Typescript, Javascript</li>
                          <li>Angular 9, jQuery</li>
                          <li>HTML / SCSS / CSS</li>
                        </ul>
                      </li>
                    </ul>
                  </details>
                </section>
                <span class="secondary-accent-color">July 2020</span>
              </li>
            </ul>
          </section>
          <section class="marg-top-10">
            <ul class="timeline-stem marg-top-5">
              <li>
                <span class="secondary-accent-color">June 2020</span>
                <section class="marg-top-10">
                  <details class="details-box marg-5px">
                    <summary class="accent-color">Junior Software Engineer. Domain :: Retail, Inventory</summary>
                    <article>
                      <p>Joined the <i>Platform team</i> right out of my college graduation. Learnt Java SE and EE
                        development,
                        by working on two legacy applications : </p>
                      <ul>
                        <li>
                          <p class="no-margin">
                            <strong>retailcloud CAS ( Central Administration Server )</strong> - The backoffice portal
                            of
                            retailcloud POS.
                          </p>
                          <p class="no-padding marg-top-5">Tech Stack : </p>
                          <ul>
                            <li>Java 6/7</li>
                            <li>JSP, Apache Struts 2</li>
                            <li>JMS, Jboss server</li>
                          </ul>
                        </li>
                        <li class="marg-top-5">
                          <p class="no-margin">
                            <strong>retailcloud WinPOS ( Windows Point of Sale )</strong> - The desktop based POS
                            application
                            from retailcloud.
                          </p>
                          <p class="no-padding marg-top-5">Tech Stack : </p>
                          <ul>
                            <li>Java 6/7/8</li>
                            <li>Swing / AWT, NSIS installer</li>
                            <li>JMS</li>
                            <li>PAX Payment Terminals, PAX POSLink SDK</li>
                          </ul>
                        </li>
                      </ul>
                      <p>Also started working on the new <strong>retailcloud Platform</strong>, which aimed to replace
                        the
                        older
                        CAS application by providing APIs for the same functionalities, in addition to newer ones.</p>
                      <blockquote class="secondary-bg accomplishment">
                        <p>
                          <span class="complementary-accent-color">Major accomplishments : </span>
                          Implemented a <strong>label <i>designing</i>, <i>editing</i> and <i>printing</i>
                          application</strong>
                          for <span class="complementary-accent-color">creating and batch printing barcode labels with additional product metadata</span>
                          from scratch using <strong>Angular 7 and Fabric.js</strong>.
                          <span class="complementary-accent-color">The app enabled customers to design their own barcode labels with a drag and drop interface</span>.
                          Built a custom <strong>JavaFX</strong> and <strong>NanoHTTPd</strong> based middleware that
                          sends
                          print commands to the Zebra Label printers ( eg : ZD 410 ) from the web-based label designer.
                          <span class="secondary-accent-color">This was necessary because it was not possible to send the label printing commands written using the Zebra Printing Language ( ZPL ) directly from the web browsers, as direct access to printers is limited.</span>
                          Javascript print API only provides image or text data options for usage, and does not support
                          sending
                          code to the printers as part of print command. Initially tried sending exported images, but
                          the
                          resulting prints were blurry.
                          It was necessary to send ZPL commands, so the middleware was built and distributed along with
                          the
                          label designer app.
                          Later got integrated into the <strong>retailcloud Console</strong> as the module
                          <strong>Label.it</strong>
                        </p>
                      </blockquote>
                    </article>
                  </details>
                </section>
                <span class="secondary-accent-color">May 2019</span>
              </li>
            </ul>
          </section>
        </ul>
      </li>
    </ul>
  </details>

  <details class="marg-top-10 padding-5px">
    <summary>Primary Skill Set</summary>
    <ul class="light-font">
      <li>
        Programming languages :
        <ul class="marg-5px">
          <li class="marg-top-5">Java ( reluctantly married to )</li>
          <li class="marg-top-5">JavaScript / TypeScript</li>
          <li class="marg-top-5">golang - started a very recent on again, off again fling with this one. <strong>"Stupidly
            simple"</strong> will be the way to define this language in one go ( see what I did there ? ).
          </li>
          <li class="marg-top-5">C# - May be my first true love in programming. I used to love this language, and test
            out anything that I learned, using this.
            But ever since I had to start using Java daily as part of the job, I have been neglecting this one for
            around half a decade, not willingly - there simply isn't time. Need to brush the skills. Wondering what
            monstrosity Microsoft has managed to morph this into?
          </li>
          <li>C/C++ - Academic level understanding. Occasionally catches glimpses of the glory from watching <a
            href="https://www.youtube.com/@TsodingDaily" target="_blank">Tsoding</a> VODs on youtube.
          </li>
        </ul>
      </li>
      <li>
        Frameworks :
        <ul class="marg-5px">
          <li class="marg-top-5">Spring Framework / Spring Boot ( Spring Web, Spring Batch, Spring Security, Spring
            Quartz, Spring AMQP etc)
          </li>
          <li class="marg-top-5">Angular 2+</li>
          <li class="marg-top-5">Node.js with Nest.js</li>
          <li class="marg-top-5">ASP.NET Core</li>
          <li class="marg-top-5">Gin</li>
        </ul>
      </li>
      <li>
        Databases :
        <ul class="marg-5px">
          <li class="marg-top-5">MySQL / MariaDB</li>
          <li class="marg-top-5">PostgreSQL</li>
          <li class="marg-top-5">SQLite</li>
          <li class="marg-top-5">Microsoft SQL Server</li>
          <li class="marg-top-5">Oracle 11g</li>
        </ul>
      </li>
    </ul>
  </details>
</div>
