<div class="items-center flex-column light-font">
  <div class="content-center items-center">
    <h1 class="light-font">Fortress is {{lockStatusText}}</h1>
    <div class="centered-image-container">
      <img (click)="showDoor = !showDoor" [src]="lockStatusText === 'Locked' ? 'superman-logo-black.png' : 'superman-logo-color.png'" class="fortress-logo" alt="Blacked out fortress logo">
    </div>
    <div [ngStyle]="{ 'display': !showDoor ? 'none' : 'block' }">
      <form class="form" (ngSubmit)="unlockFortress($event)">
        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" id="username" class="marg-top-5"/>
        </div>
        <div class="input-group marg-top-5">
          <label for="username">Password</label>
          <input type="password" id="username" class="marg-top-5"/>
        </div>
        <div class="input-group marg-top-5">
          <button>Unlock</button>
        </div>
      </form>
    </div>
  </div>
  <div>
  </div>
</div>
