/* Inconsolata font */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

html{
  font-family: 'Inconsolata', monospace;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  font-size: var(--primary-font-size);
}

body{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: auto;
  padding: 5px;
  align-self: center;
  max-width: 100%;
  @media (width > 1279px) {
    width: 1280px;
  }
  @media (width < 1280px) {
    margin: 8px;
  }
}

.extra-light-font{
  font-weight: 200;
}

.light-font{
  font-weight: 300;
}

.regular-font{
  font-weight: 400;
}

.medium-font{
  font-weight: 500;
}

.semi-bold-font{
  font-weight: 600;
}

.bold-font{
  font-weight: 700;
}

.extra-bold-font{
  font-weight: 800;
}

.black-font{
  font-weight: 900;
}


a{
  color: var(--primary-accent-color);
  text-decoration: underline double 0.01rem var(--secondary-accent-color);
  text-underline-offset: 0.3rem;
  cursor: pointer;
}

.marg-10px {
  margin: 10px !important;
}

a.faux-link {
  color: inherit;
  text-decoration: none;
}

nav {
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  place-content: baseline;
  @media (width > 600px) {
    flex-direction: row;
  }
}

img {
  @media (width > 1279px) {
    width: 1280px;
    height: 764px;
  }
  @media (width < 1280px) {
    width: 320px;
    height: 191px;
  }
  @media (width > 640px) {
    width: 640px;
    height: 382px;
  }
}


.flex-column {
  display: flex;
  flex-direction: column;
}

.sticky-top {
  position:sticky;
  top:0;
  width: 100%;
  z-index: 999;
  background-color: var(--primary-bg-color);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.scroll-container {
  overflow-y: auto;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 10px;
  background-color: var(--primary-bg-color);
}

.marg-5px {
  margin: 5px;
}

.marg-top-5 {
  margin-top : 5px;
}

.centered-image-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.small-font {
  font-size: var(--small-font-size);
}

.medium-font {
  font-size: var(--medium-font-size);
}

.accent-color {
  color: var(--primary-accent-color);
}

.secondary-accent-color {
  color: var(--secondary-accent-color);
}

.complementary-accent-color {
  color: var(--complementary-accent-color);
}


.timeline-stem {
  list-style-type: '###';
  list-style-position: outside;
  color: var(--primary-color);
  margin: 1px 0 0 3px;
  padding: 0 0 0 0.6rem;
  border-left: 3px solid var(--primary-color);
}

.timeline-stem > li {
  margin: 2px 0 0 2px;
  padding: 0 0 0 3px;
}

.details-box {
  text-wrap: auto;
  text-align: left;
  cursor: pointer;
}

.no-margin-no-padding {
  margin: 0;
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.marg-top-10 {
  margin-top: 10px;
}

.secondary-bg {
  background-color: var(--secondary-bg-color);
}

.accomplishment {
  padding: 1px;
  margin: 1px;
}

.marg-bottom-5 {
  margin-bottom: 5px;
}

.primary-underlined {
  color: var(--primary-color);
  text-decoration: underline double 0.01rem var(--secondary-accent-color);
  text-underline-offset: 0.3rem;
  cursor: pointer;
}

.primary-color-border {
  border: 1px solid var(--primary-color);
}

.padding-5px{
  padding: 5px;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

select {
  padding: 2px;
  margin: 2px;
  background: var(--primary-bg-color);
  color: var(--primary-color);
  border-radius: 1rem;
  font-family: inherit;
}

select > option {
  color: var(--primary-color);
  font-family: inherit;
}

button {
  padding: 10px;
  background: var(--primary-bg-color);
  color: var(--primary-accent-color);
  border-radius: 1rem;
  font-family: inherit;
}
