<div class="marg-top-5">
  <h1 class="extra-light-font">Hello.</h1>
</div>
<div class="marg-top-5">
  <h1 class="light-font">You have reached <a>Arun</a>.</h1>
</div>
<div class="marg-top-5">
  <h3 class="regular-font"> I write computer code for a living, currently at <a href="https://www.epam.com"
                                                                                target="_blank">EPAM Systems</a>,</h3>
  <h4 class="regular-font">Usually various versions of Java, ranging from archaic to modern. Also some Javascript and
    flavours (Mostly typescript).</h4>
</div>
<div class="marg-top-5">
  <h3 class="regular-font"> And this is me, there.</h3>
</div>
<div class="centered-image-container">
  <img src="mountains-and-red-bw.jpeg" alt="Just a black-and-white photo of myself">
</div>
